Join {{{org_name}}}
<!---------------->
You have been invited to join the *{{org_name}}* organization.


Click here to join: {{url}}/#/accept-organization/?organizationId={{org_id}}&organizationUserId={{org_user_id}}&email={{email}}&organizationName={{org_name_encoded}}&token={{token}}


How to use Bitwarden password manager: <a href="https://empowerists.sharepoint.com/sites/EmpoweristsIT-CybersecurityChannel/SitePages/Introduction-to-Bitwarden(1).aspx">Introduction to Bitwarden</a>
{{> email/email_footer_text }}